@model OOTTracker.Models.InventoryEquipmentCategories.InventoryEquipmentCategoriesEditViewModel
@{
    Layout = "_Layout";
}

<div class="header">
    <h1 class="h4">Edit Category</h1>
</div>
<form method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="Name">Category Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</form>
