@model OOTTracker.Models.ItemChecks.ItemCheckEditViewModel
@{
    Layout = "_Layout";
}

<div class="header">
    <h1 class="h4">Edit Item Check</h1>
</div>
<form method="post">
    <div class="row">
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="LocationId">Location</label>
                <select class="form-select" asp-for="LocationId" asp-items="Model.Locations">
                    <option value="Select a location..."></option>
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="ItemCheckTypeId">Check Type</label>
                <select class="form-select" asp-for="ItemCheckTypeId" asp-items="Model.ItemCheckTypes">
                    <option value="Select a check type..."></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label asp-for="ItemAgeRequirementId">Age Requirement</label>
                <select class="form-select" asp-for="ItemAgeRequirementId" asp-items="Model.ItemAgeRequirements">
                    <option value="Select an age requirement..."></option>
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="Description">Description</label>
                <input class="form-control" asp-for="Description" />
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>

</form>