@model OOTTracker.Models.Locations.LocationsIndexModel
@{
    Layout = "_Layout";
}
<h2>Locations</h2>
<div class="row mt-3">
    <div class="col-3">
        <a class="btn btn-primary" href="/Locations/Create">Add Location</a>
    </div>
</div>
<table data-toggle="table" data-pagination="true" data-page-size="10" data-search="true">
    <thead>
        <tr>
            <th data-width="125">#</th>
            <th data-field="Name" data-sortable="true">Location Name</th>
        </tr>
    </thead>
    @if (Model.Locations != null)
    {
        <tbody>
            @foreach (var location in Model.Locations)
            {
                <tr>
                    <td>
                        <a href="/Locations/Edit/@location.Id" class="btn btn-primary me-2">
                            <i class="bi-pencil"></i>
                        </a>
                        <a href="/Locations/Delete/@location.Id" class="btn btn-danger">
                            <i class="bi-trash3"></i>
                        </a>
                    </td>
                    <td>@location.Name</td>
                </tr>
            }
        </tbody>
    }
</table>