<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-column flex-md-row">
            <nav id="sidebar" class="col-12 col-md-3 col-lg-2 d-md-block sidebar">
                <div class="d-flex flex-column align-items-center">
                    <h2 class="mb-4">OOT Tracker</h2>
                    <div class="collapse show" id="sidebarMenu">
                        <ul class="nav flex-column w-100">
                            <li class="nav-item">
                                <a asp-controller="Playthroughs" asp-action="Index" class="nav-link active" aria-current="page">Playthroughs</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InventoryEquipment" asp-action="Index" class="nav-link">Equipment</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="InventoryEquipmentCategories" asp-action="Index" class="nav-link">Equipment Categories</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Locations" asp-action="Index" class="nav-link">Locations</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ItemChecks" asp-action="Index" class="nav-link">Item Checks</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ItemCheckTypes" asp-action="Index" class="nav-link">Item Check Types</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ItemCheckRequirements" asp-action="Index" class="nav-link">Item Check Requirements</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ItemAgeRequirements" asp-action="Index" class="nav-link">Item Age Requirements</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="mainContent" class="col-12 col-md-9 ms-sm-auto col-lg-10 main-content">
                @if (IsSectionDefined("HeaderContent"))
                {
                    <div class="header">
                        <h1 class="h4">@RenderSection("HeaderContent")</h1>
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/esm/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
</body>
</html>