@{
    Layout = "_Layout";
}
@model OOTTracker.Models.ItemAgeRequirements.ItemAgeRequirementEditViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h2>Edit Item Age Requirement</h2>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="Name">Name</label>
                        <input class="form-control" asp-for="Name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
