@model OOTTracker.Models.ItemCheckTypes.ItemCheckTypesIndexModel
@{
    Layout = "_Layout";
}
<div class="header">
    <h1 class="h4">Item Check Types</h1>
    <div class="text-end">
        <a asp-action="Edit" class="btn btn-success">Add Item Check Type</a>
    </div>
</div>
<div class="table-responsive">
    <table data-toggle="table" data-pagination="true" data-page-size="10" data-search="true" class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th data-width="125">#</th>
                <th data-field="Name" data-sortable="true">Name</th>
                <th data-width="150">Actions</th>
            </tr>
        </thead>
        @if (Model.ItemCheckTypes != null)
        {
            <tbody>
                @for (var i = 0; i < Model.ItemCheckTypes.Count; i++)
                {
                    var itemCheckType = Model.ItemCheckTypes[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@itemCheckType.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@itemCheckType.Id" class="btn btn-primary btn-sm me-2">Edit</a>
                            <a asp-action="Delete" asp-route-id="@itemCheckType.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>
